# Go
*.out
*.exe
*.test
*.a
*.so
*.o
vendor/
*.mod
*.sum
/_output/
*.lock

# C#
*.suo
*.user
*.csproj.user
*.sln.ide
bin/
obj/
*.dll
*.exe
*.pdb
*.mdb
*.dbmdl
*.dbproj
*.jfm
*.cache
*.vs/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl
.env
.venv/
env/
venv/

# C++
*.o
*.out
*.exe
*.ilk
*.pdb
*.obj
*.idb
*.idb
*.user
*.ncb
*.sdf
*.opensdf
*.log
*.stackdump
*.bin
*.dep
*.dSYM/
*.DS_Store
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
Makefile.in
*.project
*.workspace
*.sublime-project
*.sublime-workspace

# General
*.swp
*.swo
*.DS_Store
Thumbs.db
